body{
    font-family: "Montserrat";
}

#title {
    background: #d71751;
    color: aliceblue;
}

.container-fluid{
    padding: 3% 15% 7%;
}

h1
{
    font-family: 'Montserrat-black', sans-serif;
    font-weight: 1000;
    font-size: 3.5rem;
    
}

h2{
    font-family: 'Montserrat-black', sans-serif;
    font-weight: 700;
    font-size: 3rem;
}

h3{
    font-family: 'Montserrat-black', sans-serif;
    font-weight: 1000;
    font-size: 1.5rem;;
}

.navbar{
    padding:0 0 4.5rem;
}

/* Navigation Bar */
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
}

.download-button{
    margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image{
    /* width: 40%; */
    /* transform: rotate(25deg); */
   /* Z-Index:  All elements by default having index 0 */
    /* position:absolute; */
    width: 20%;

  transform: rotate(25deg);

  position: absolute;

  right: 30%;
}

#features{
    padding: 7% 15%;
    background-color: aliceblue;
    position: relative;
    z-index: 1;
}

.feature-box{
    text-align: center;
    padding: 4.5%;
}

.icon{
    color: #eb3f72;
    padding-bottom: 1rem;
}

.icon:hover{
    color: #d71751;
}

#testimonials{
    text-align: center;
    color: aliceblue;
    background-color: #eb3f72;
}

.testimonial-img
{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item{
    padding: 7% 15%;
}

#press{
    background-color: #eb3f72;
    text-align: center;
    padding-bottom: 2%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.card{
    height: 350px;
}

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

@media (max-width:1028px) {

#title{
    text-align: center;
}

    .title-image{
        position: static;
        transform: rotate(0);
    }
}

#cta{
    background-color: #d71751;
    color: aliceblue;
    text-align: center;
    
    padding: 7% 15%;
    /* font-size: 3.5rem; */
}

.cta-heading{
    font-family: 'Montserrat-black', sans-serif;
    font-weight: 1000;
    font-size: 3.5rem;
    padding-bottom: 5%;
}